$preview-item-first-height: 160px;
$preview-item-height: 120px;

.article-form {
    padding: 20px;
    background: #f4f5f9;
    border: 1px solid #e7e7eb;
}

.articles-preview-container {
    padding-top: 1px;

    .article-preview-item {
        border: 1px solid #dedede;
        position: relative;
        height: $preview-item-height;
        padding: 20px 15px;
        display: flex;

        &.first {
            height: $preview-item-first-height;
        }

        margin-top: -1px;

        .article-preview-item-cover-placeholder {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border: 0;
            line-height: $preview-item-first-height;
            background: #eee;
            color: #666;
            text-align: center;
            background-size: 291px 158px;
        }

        .article-preview-item-title {
            position: absolute;
            bottom: 0;
            left: -1px;
            right: -1px;
            height: 28px;
            line-height: 28px;
            padding: 0 10px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
        }

        .article-preview-item-thumb-title {
            display: inline-flex;
            width: 182px;
            padding-right: 15px;
        }

        .article-preview-item-thumb-img {
            width: 77.78px;
            height: 76px;
            img {
                width: 77.78px;
                height: 76px;
            }
        }

        .article-preview-item-thumb-placeholder {
            display: inline-flex;
            width: 78px;
            background-color: #eee;
            background-size: 77.78px 76px;

            .inner {
                line-height: 78px;
                text-align: center;
                display: block;
                width: 100%;
            }
        }

        .article-preview-item-edit-links {
            position: absolute;
            display: none;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: 0;
            background: rgba(255, 255, 255, 0.6);
            color: #000;
            line-height: $preview-item-height;
            border: 1px solid #999;
            font-size: 24px;
            text-align: center;
            transition: all 3s;

            i {
                padding: 15px;
            }
        }

        &:hover .article-preview-item-edit-links {
            display: block;
        }

        .add-new-item {
            display: block;
            width: 100%;
            text-align: center;
            line-height: 78px;
            border: 1px dashed #ccc;
            font-size: 24px;
        }
    }

    .active {
        border: 2px solid #43b548;
    }
}

#wex-preview {
    display: none;
}

.wx_phone_preview {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -365px;
    margin-left: -180px;
    z-index: 9997;
    width: 360px;
    height: 680px;
    background: url('/image/wx_phone_preview_z3118ec.png') 0 0 no-repeat;

    .btn_phone_preview_closed {
        position: absolute;
        left: -138px;
        bottom: 90px;
        .btn_phone_preview_closed, .btn_wx_phone_preview {
            padding: 0;
            min-width: 120px;
        }
    }

    .wx_phone {
        padding: 84px 56px 0 17px;

        .wx_phone_hd {
            text-align: center;
            color: #fff;
            line-height: 38px;
            height: 38px;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            padding: 0 20px;
        }

        .wx_phone_bd {
            position: relative;
            overflow: auto;
            background-color: #fff;
            height: 470px;

            .wx_phone_preview_appmsg {
                padding: 15px 10px;

                .rich_media_title {
                    margin-bottom: 12px;
                    line-height: 1.4;
                    font-weight: 400;
                    font-size: 16px;
                }

                .rich_media_meta_list {
                    margin-bottom: 18px;
                    line-height: 20px;
                    font-size: 0;

                    .rich_media_meta_text {
                        color: #8c8c8c;
                        font-weight: 400;
                        font-style: normal;
                    }

                    .rich_media_meta {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }

                }

                .rich_media_meta_link {
                    color: #607fa6;
                    cursor: pointer;
                }

                .rich_media_meta {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                .rich_media_thumb_wrp {
                    margin-bottom: 6px;

                    .appmsg_wap .rich_media_thumb {
                        display: block;
                        width: 100%;
                    }
                }

                .rich_media_content {
                    overflow: hidden;
                    color: #3e3e3e;
                    word-wrap: break-word;
                    word-break: break-all;

                    p {
                        clear: both;
                        min-height: 1em;
                        white-space: pre-wrap;
                    }

                    * {
                        max-width: 100% !important;
                        box-sizing: border-box !important;
                        word-wrap: break-word !important;
                        word-break: normal !important;
                    }
                }

            }
        }

        .wx_phone_preview_card_wrp {
            background-color: #f2f2f2;

            .wx_phone_preview_multi_card {
                padding: 15px;
                cursor: pointer;

                .msg_card_inner {
                    border-radius: 3px;
                    background-color: #fff;
                    overflow: hidden;
                    border: 1px solid #e7e7eb;

                    .card_cover_appmsg_item {
                        margin: 6px;
                        position: relative;
                    }

                    .card_cover_appmsg_inner {
                        position: relative;
                        height: 140px;
                        overflow: hidden;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;

                        .card_cover_thumb{
                            width: 239px;
                            height: 120px;
                        }
                    }
                }

                .card_appmsg_item {
                    overflow: hidden;
                    padding: 6px;
                    border-top: 1px solid #e7e7eb;

                    .card_appmsg_content {
                        overflow: hidden;
                    }

                    .card_appmsg_thumb {
                        float: right;
                        margin-left: 10px;
                        width: 45px;
                        height: 45px;
                    }
                }
            }

            .has_first_cover{
                .card_cover_title {
                    position: absolute;
                    max-height: 42px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(0,0,0,0.5)!important;
                    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000',endcolorstr = '#80000000');
                    color: #fff;
                    padding: 5px 6px;
                }
            }

            .wx_phone_preview_card {
                padding: 15px;
                cursor: pointer;

                .msg_card_inner {
                    border-radius: 3px;
                    background-color: #fff;
                    overflow: hidden;
                    border: 1px solid #e7e7eb;

                    .msg_card_bd {
                        padding: 8px;
                        background-color: #fff;

                        .msg_card_title {
                            margin-bottom: 6px;
                            max-height: 40px;
                            font-size: 14px;
                            overflow: hidden;
                            font-weight: 400;
                            font-style: normal;
                            line-height: 1.2;
                            word-wrap: normal;
                            white-space: pre-wrap;
                        }

                        .msg_card_info {
                            font-size: 13px;
                            line-height: 20px;
                            margin-bottom: 12px;
                            color: #8d8d8d;
                        }

                        .msg_card_extra_info {
                            height: 120px;
                            overflow: hidden;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            margin: 14px 0 5px;

                            .appmsg_thumb{
                                width: 239px;
                                height: 120px;
                            }
                        }

                        .msg_card_desc {
                            max-height: 42px;
                            overflow: hidden;
                            font-size: 12px;
                            word-wrap: normal;
                            white-space: pre-wrap;
                        }
                    }

                    .msg_card_ft {
                        background-color: #fff;
                        line-height: 38px;
                        padding: 0;
                        margin: 0 8px;
                        font-size: 12px;
                        border-top: 1px solid #e7e7eb;

                        .icon_arrow_default {
                            float: right;
                            margin-top: 10px;
                            background: url('/image/base_z324410.png') 0 -2869px no-repeat;
                            width: 16px;
                            height: 15px;
                            vertical-align: middle;
                            display: inline-block;
                            line-height: 300px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    .wx_view_container {
        .wx_view_list {
            line-height: 40px;
            border-radius: 5px;
            text-align: center;
            overflow: hidden;
            position: absolute;
            right: 105%;
            top: 90px;

            .wx_view_item {
                background-color: #f0eff4;
                border-bottom: 1px solid #dfdfe4;
                white-space: nowrap;
                cursor: pointer;
                min-width: 120px;
                &.selected {
                    background-color: #47b54a;
                    color: #fff;
                    border-bottom-color: #5bab5e;
                }
            }
        }

        .wx_article_crtl {
            line-height: 40px;
            border-radius: 5px;
            position: absolute;
            right: 105%;
            top: 268px;
            background-color: #fff;
            min-width: 120px;
            overflow: hidden;

            .crtl_btn {
                width: 50%;
                float: left;
                box-sizing: border-box;
                padding: 0 8px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                &.disabled {
                    color: #a5a6aa;
                    background-color: #e7e7eb;
                }
            }

            .crtl_next_btn {
                border-left: 1px solid #dfdfe4;
            }
        }

        .btn_wx_phone_preview_wrp {
            position: absolute;
            bottom: 130px;
            text-align: center;
            left: -138px;

            .btn_phone_preview_closed, .btn_wx_phone_preview {
                padding: 0;
                min-width: 120px;
            }
        }
    }

    .btn {
        display: inline-block;
        overflow: visible;
        padding: 0 22px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-size: 14px;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        min-width: 60px;
    }

    .btn_default {
        background-color: #fff;
        background-image: -moz-linear-gradient(top, #fff 0, #fff 100%);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
        background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
        background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
        background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
        border-color: #e7e7eb;
        color: #222;
    }

}
